.newslist {
    padding: 100px 0px;
}

.row-name {
    width: 80%;
    margin: auto;
}

.news-text-box {
    padding: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colll {
    padding-bottom: 0px;
}

.product-image1 {
    width: 100%;
}

.product-image1 img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.news-text-box h3 a {
    color: #051922;
}

p.blog-meta span i {
    margin-right: 5px;
}

p.excerpt {
    line-height: 1.8;
    color: #555;
    padding: 10px 0px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.1px;
}

p.blog-meta span {
    margin-right: 15px;
    opacity: 0.6;
    color: #051922;
    font-size: 0.85em;
}

p.blog-meta span:last-child {
    margin-right: 0;
}

a.read-more-btn {
    display: inline-block;
    margin-top: 15px;
    color: #051922;
    transition: 0.3s;
    font-weight: 700;
}

.h2-val {
    text-align: center;
}

.news-text-box h3 {
    font-size: 20px;
    line-height: 1.25em;
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 0px;
}