.row-scroll {
    width: 80%;
    margin: auto;
}

.scroll {
    padding: 30px 0px;
    background-color: #f5f5f5;
}

.col-scroll {
    display: flex;
    width: 100%;
}

.col-scroll div {
    width: 100%;
}

.col-scroll div img {
    width: 80%;
}